.message_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  background-color: antiquewhite;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.message_container h1 {
  text-align: center;
  font-size: 3em;
  margin: auto auto;
  margin-top: 10%;
  color: rgb(42, 44, 43);
}

button {
  cursor: pointer;
  margin: auto;
  margin-top: 10%;
  width: 50%;
  height: 10%;
  border-radius: 10px;
  background-color: rgb(12, 12, 213);
  color: antiquewhite;
  font-size: 1em;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
